* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  

  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;

  display: flex;
  gap: 1ch;
}